
source activate dev_norpy

export ESTIMAGIC_ROOT=$HOME/OpenSourceEconomics/respy_estimagic

export NORPY_ROOT=$HOME/OpenSourceEconomics/norpy

export PYTHONPATH=$NORPY_ROOT:$PYTHONPATH

export PYTHONPATH=$ESTIMAGIC_ROOT:$PYTHONPATH
