source activate dev_norpy

export ESTIMAGIC_ROOT=$HOME/OpenSourceEconomics/respy_estimagic

export DEV_NORPY_ROOT=$HOME/OpenSourceEconomics/dev_norpy

export PYTHONPATH=$DEV_NORPY_ROOT:$PYTHONPATH
 
export PYTHONPATH=$ESTIMAGIC_ROOT:$PYTHONPATH

export PYTHONPATH=$DEV_NORPY_ROOT:$PYTHONPATH

export PYTHONPATH=$PWD/submodules/norpy:$PYTHONPATH

export PYTHONPATH=$PWD/submodules/analysis:$PYTHONPATH

export PYTHONPATH=$PWD/submodules/analysis/submodules/respy_estimagic:$PYTHONPATH

export PYTHONPATH=$PWD/submodules/analysis/submodules/respy_estimagic/submodules/respy:$PYTHONPATH

export OV_PROJECT=$PWD/submodules/analysis

export OV_PROJECT_SSB_INPUT=$PWD/submodules/analysis/estimation/resources

export OV_PROJECT_FIGURES=$PWD/submodules/analysis/figures


