[submodule "submodules/analysis"]
	path = submodules/analysis
	url = https://github.com/OptionValueHumanCapital/analysis.git
	branch = compare_to_norpy

[submodule "submodules/norpy"]
	path = submodules/norpy
	url = https://github.com/OpenSourceEconomics/norpy.git
	branch = pj_cleanup_comaprison

